<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZaW0Hxuhd_2hK90xussD6-VAwB7ZXZd0</string>
	<key>GCM_SENDER_ID</key>
	<string>436523699376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kiahanddana.EcoContributorApp</string>
	<key>PROJECT_ID</key>
	<string>ecocontributor</string>
	<key>STORAGE_BUCKET</key>
	<string>ecocontributor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436523699376:ios:f9b211696e4c12f7587f75</string>
</dict>
</plist>